<mat-card>
  <mat-card-title>
    NOMBRE: {{dato.nombre| uppercase}}
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item> Unitario: S/.{{dato.unitario}}</mat-list-item>
      <mat-list-item> Punto: S/.{{dato.punto}}</mat-list-item>
      <mat-list-item> Docena: S/.{{dato.docena}} </mat-list-item>
     </mat-list>     
  </mat-card-content>
  <mat-card-actions style="text-align: right;">
    <button (click)="eliminar()" mat-raised-button color="warn" >Eliminar</button>
  </mat-card-actions>
</mat-card>