<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        Proveedor: {{ dato.proveedor_nombre|uppercase }}
      </mat-list-item>
      <mat-list-item>
        Fecha: {{ dato.fecha| date: 'dd/MM/yyyy' }} 
      </mat-list-item>
      <mat-list-item>
        Flete: S/. {{dato.flete}}
      </mat-list-item>
      <mat-list-item>
        Total: S/. {{total}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-table [dataSource]="this.lista">
      <ng-container matColumnDef="producto" >
        <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Producto">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{ column.categoria + ' - ' + column.marca + ' - ' + column.modelo | uppercase}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad" >
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Cantidad">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.cantidad}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="costo" >
        <mat-header-cell *matHeaderCellDef> Costo </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Costo">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.costo}}
          </span>
        </mat-cell>
      </ng-container> 
      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>
    <mat-card-actions>
      <button mat-raised-button color="warn" *ngIf="!eliminando" (click)="eliminar()" >Eliminar</button>
      <div *ngIf="eliminando">
        <span>¿Realmente desea eliminar?</span>
        <button mat-raised-button color="warn" (click)="siEliminar()">Si</button>
        <button mat-raised-button color="secondary" (click)="noEliminar()" >No</button>
      </div>
    </mat-card-actions>
</mat-card>
