<mat-card>
  <mat-card-content>
    <mat-toolbar style="background: #f4ed6d;" *ngIf="this.id">
      <span>Editando...</span>
    </mat-toolbar>
    <form action="" [formGroup]="formGroup">
      <table class="input-full-width">
          <tr>
              <td>
                <mat-form-field class="input-full-width">
                  <input #inputCliente formControlName="cliente" (keyup)="buscarCliente(inputCliente.value)" required [matAutocomplete]="clienteautocomplete" matInput placeholder="Cliente">
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #clienteautocomplete="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                    <span>{{ cliente.nombre }}</span>
                    <small> | ID: {{cliente.id}}</small>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="getError('cliente')">
                  Debe seleccionar cliente
                </mat-error>
              </td>
            </tr>
        <tr>
          <td>
              <mat-form-field class="input-middle-width">
                <input matInput formControlName="fecha" [matDatepicker]="picker" autocomplete="off" placeholder="Fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </td>
        </tr>
        <button mat-flat-button color="accent"  (click)="addProduct()" >Agregar Productos</button>
        <p></p>
        <tr>
          <td class="productos">
            <!-- Aca va el ngFor para productos -->
            <div formArrayName="detalles" *ngFor="let item of formGroup.get('detalles').controls; let i = index;">
              <div [formGroupName]="i">
                <!-- input producto -->
                <mat-form-field class="input-full-width">
                  <input #inputProducto formControlName="producto" (keyup)="buscarProducto(inputProducto.value)" required [matAutocomplete]="productoautocomplete" matInput placeholder="Producto">
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #productoautocomplete="matAutocomplete" [displayWith]="displayFnPro.bind(this)">
                    <mat-option *ngFor="let producto of productos" [value]="producto.id">
                      <span> <small> {{ producto.categoria_nombre | titlecase }} </small> - {{ producto.marca_nombre | titlecase }} - {{ producto.modelo_nombre | titlecase }} ({{producto.stock}}) </span>
                    </mat-option>
                </mat-autocomplete>
                <!-- %%%%%%%%%%%%%% -->
                <!-- Input Cantidad -->
                <mat-form-field class="input-little-width">
                    <input type="number" formControlName="cantidad" required matInput placeholder="Cantidad" autocomplete="off">
                </mat-form-field>
                <!-- <mat-error *ngIf="getError('cantidad')"> 
                  Error en cantidad
                </mat-error> -->
                <!-- %%%%%%%%%%%%%% -->
                <!-- Input Costo -->
                <mat-form-field class="input-little-width">
                    <input type="number" formControlName="precio" required matInput placeholder="Precio" autocomplete="off">
                </mat-form-field>
                 <!-- <mat-error *ngIf="getError('precio')">
                  Error en costo
                </mat-error> -->
                <!-- %%%%%%%%%%%% -->
                <button (click)="delProduct(i)" mat-flat-button color="warn" >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
          </div>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="retornar();" mat-raised-button *ngIf="!dato.estado" color="primary">Retornar</button>
    <button *ngIf="dato.estado" (click)="guardar();" mat-raised-button [disabled]="formGroup.invalid" color="primary">Guardar</button>
  </mat-card-actions>
</mat-card>