<!-- PRINCIPAL -->
<mat-sidenav-container fullscreen>
    <mat-sidenav #menu>
      <mat-nav-list>
          <mat-card style="text-align: center;">
              <mat-card-title>
                <mat-icon>account_circle</mat-icon>
              </mat-card-title>
              <mat-card-content>
                <h2>Jukson</h2>
                Admin
                <p></p>
                <button mat-raised-button color="warn">
                    <mat-icon>
                      close
                    </mat-icon> 
                  </button>
              </mat-card-content>
          </mat-card>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item >Caja</a>
        <a mat-list-item routerLink="clientes/agregar" >Clientes</a>
        <a mat-list-item routerLink="proveedores" >Proveedores</a>
        <a mat-list-item (click)="toggleMenu()">
          Mercadería
          <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
          <mat-icon *ngIf="showMenu">expand_more</mat-icon>
        </a>
        <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
          <a mat-list-item routerLink="categorias">
            <mat-icon>chevron_right</mat-icon>
            Categorias
          </a>
          <a mat-list-item routerLink="marcas" >
            <mat-icon>chevron_right</mat-icon>
            Marcas
          </a>
          <a mat-list-item routerLink="modelos" >
            <mat-icon>chevron_right</mat-icon>
            Modelos
          </a>
          <a mat-list-item routerLink="precios" >
            <mat-icon>chevron_right</mat-icon>
            Precios
          </a>
          <a mat-list-item routerLink="productos" >
            <mat-icon>chevron_right</mat-icon>
            Productos
          </a>
        </mat-nav-list>
        <a mat-list-item >Consignaciones</a>
        <a mat-list-item >Compras</a>
        <a mat-list-item >Ventas</a>
        <a mat-list-item >Perdidas</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Barra titulo -->
      <mat-toolbar class="btnMenu" color="primary">
          <button (click)="menu.toggle()"  mat-flat-button color="primary">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
          </button>
          <span class="spacer"></span>
          <span>Moda Smartphone</span>
      </mat-toolbar>
      <!-- Fin barra titulo -->
      <!-- Contenido -->
      <router-outlet></router-outlet>
      <!-- Fin COntenido -->
    </mat-sidenav-content>
  </mat-sidenav-container>

