<app-buscar (busquedaEvent)="busqueda($event)" [modelo]="modelo" [params]="params" ></app-buscar>
<mat-card>
  <mat-card-content>
    <mat-table [dataSource]="this.lista">
      <ng-container matColumnDef="categoria" >
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Categoria">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.categoria_nombre | uppercase}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="marca" >
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Marca">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.marca_nombre | uppercase}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="modelo" >
        <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Modelo">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.modelo_nombre | uppercase}}
          </span>
        </mat-cell>
      </ng-container> 
      <ng-container matColumnDef="costo" >
        <mat-header-cell *matHeaderCellDef> Costo </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Costo">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.costo | uppercase}}
          </span>
        </mat-cell>
      </ng-container> 
      <ng-container matColumnDef="stock" >
        <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="Stock">
          <span [ngClass]="{'eliminado':!column.estado}">
            {{column.stock}}
          </span>
        </mat-cell>
      </ng-container> 
      <ng-container matColumnDef="unitario" >
        <mat-header-cell *matHeaderCellDef> P. Unitario </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="P. Unitario">
          <span [ngClass]="{'eliminado':!column.estado}">
            S/. {{column.precio_unitario}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="punto" >
        <mat-header-cell *matHeaderCellDef> P. Punto </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="P. Punto">
          <span [ngClass]="{'eliminado':!column.estado}">
            S/. {{column.precio_punto}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="docena" >
        <mat-header-cell *matHeaderCellDef> P. Docena </mat-header-cell>
        <mat-cell *matCellDef="let column" data-label="P. Docena">
          <span [ngClass]="{'eliminado':!column.estado}">
            S/. {{column.precio_docena}}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="editar" >
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a routerLink="/productos/editar/{{row.id}}">
              <mat-icon>edit</mat-icon>
            </a>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="eliminar" >
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a routerLink="/productos/eliminar/{{row.id}}">
              <mat-icon>delete</mat-icon>
            </a>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <app-paginator (paginationEvent)="paginarModelo($event)" [busq]="busq" [modelo]="modelo" [pages]="pages" [datos]="datos" ></app-paginator>
  </mat-card-actions> 
</mat-card> 

