// primary = light-blue
// accent = green
// warn = red
@import '~@angular/material/theming';
@include mat-core();
body {
    background: #E0E0E0;
    padding: 0px;
    margin: 0px;
}

$miTema-primary: mat-palette($mat-blue);
$miTema-accent:  mat-palette($mat-green);
$miTema-warn: mat-palette($mat-red);

$miTema: mat-light-theme($miTema-primary, $miTema-accent, $miTema-warn);

@include angular-material-theme($miTema);